<!DOCTYPE html>
<html lang="en">
<style> table, th, tr, td {
    border: 1px solid black;
    position: relative;
    text-align: center;
    font-size: large;

}
.container {
    position: relative;
}

h1 {
    text-align: center;
}
#a1 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 400px;
    padding: 5px;
    float: left;
}

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GetAll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">ADNSU</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/welcome}">Main Page</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50 border border-primary m-2 p-5">
            <h1>Result</h1>
            <table class="table table-hover">
                <tr class="success">
                    <th> Score</th>
                    <th> Credit</th>
                </tr>
                <tbody>
                <tr th:each="list : ${all}" class="info">
                    <td><span th:text="${list.score}"> score </span></td>
                    <td><span th:text="${list.credit}"> credit </span></td>
                    <td>
                        <a th:href="@{/api/delete/{id}(id=${list.id})}"
                           class="btn btn-warning"> Delete</a>
                    </td>
                    <td><a th:href="@{/api/update/{id}(id=${list.id})}"
                           class="btn btn-danger"> Update</a></td>
                </tr>
                </tbody>
            </table>
            <br>
            <td th:text="${result}"
                class="btn btn-danger">result</td>
            <td>
                <a id="a1" th:href="@{/api/deleteAll}"
                   class="btn btn-danger"

            >Delete All</a></td>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50 border border-primary m-2 p-5">
            <h1>Add Mark</h1>
            <form action="/api/addMark" method="GET">
                <label>
                    Score:
                    <input type="text" name="score"
                           class="form-control"
                           placeholder="Enter score"/>
                </label><br>
                <label>
                    Credit:
                    <input type="text" name="credit"
                           class="form-control"
                           placeholder="Enter score"/>
                </label>
                <input type="submit" value="add"
                       class="w3-button w3-blue w3-round-xlarge"
                />
            </form>
        </div>
    </div>
</div>
</body>
</html>